src/main/mule/demo_cicd1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22529fe6-c4dc-40df-85d0-c38ec92772db" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo_cicd1Flow" doc:id="c490b4b4-1260-4534-8439-25dc8a26949a" >
		<http:listener doc:name="Listener" doc:id="1239ad40-3c29-46f9-a855-2f9ec64e4c57" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value='#["hello cicd 1"]' doc:name="Set Payload" doc:id="4e2f90f1-0482-4f1b-ad5c-b1ba85b09605" />
		<logger level="INFO" doc:name="Logger" doc:id="4dc4508c-3c30-43c7-ba4f-c9373b7fac53" message="end logger"/>
	</flow>
</mule>
